<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="descripton" content="Web app untuk mencari ketersediaan kamar rumah sakit di seluruh indonesia" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" />
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <title>HORI</title>
  </head>
  <body>
    <app-bar></app-bar>
    <head-bar></head-bar>
    <main id="main"></main>
    <div class="loading position-fixed top-0 end-0 d-none">
      <div class="loader" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
    <foot-er></foot-er>
  </body>
</html>
