@media (max-width: 991px) {
  .btn-phone,
  .btn-loc,
  .btn-detail,
  .availability {
    width: 100%;
  }

  .btn-phone,
  .btn-loc,
  .btn-detail {
    margin: 0.5rem 0 0 0;
  }

  .availability {
    text-align: center;
    margin: 1.5rem 0 0 0;
    padding: 0;
  }

  .text-white h2 {
    font-size: 2rem;
  }

  .my-name {
    margin-left: 0;
  }
}

/* appBar */
@media (max-width: 767px) {
  .brands a {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

/* navigation */

@media (min-width: 768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }

  .jumbotron {
    margin-top: 0;
  }
}

@media (max-width: 490px) {
  .card-detailRs {
    margin: 2px;
    padding: 3px;
  }

  .detail-rs {
    padding: 0;
  }
}

@media (max-width: 390px) {
  .head-title {
    font-size: 30pt;
  }
}

/*about*/

@media (min-width: 991px) and (max-width:1200px) {
  .skill-block {
      padding: 32px !important
  };
}

@media (min-width: 1200px) {
  .skill-block {
      padding: 56px !important
  }
}

@media (max-width: 480px) {
  .skill-block {
    padding: 16px !important
  }
  .skill-block p {
    font-size: 2rem;
  }
}

@media (max-width: 300px) {
  .skill-block {
    padding: 8px !important
  }
}