/* appBar */
@media (max-width: 767px) {
  .brands a {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}

/* navigation */

@media (min-width: 768px) {
  .navigation-clean-search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}
